{% include 'header.html.twig' %}

  <h2>Welcome to register</h2>


  <h4><a href="/registercourse">Click here</a> to register a course</h4>
  <h4><a href="/registerstudent">Click here</a> to register a student</h4>


{% include 'footer.html.twig' %}
