{% include 'header.html.twig' %}

<p>Student Name: <strong>{{ student.getName }}</strong></p>
<p>Enroll Date: {{ student.getEnrollDate }}</p>
<p>Courses:</p>
<ol>
  {% for course in courses %}
    <li><a href="/course/{{ course.id }}">{{ course.course }}</a></li>
  {% endfor %}
</ol>

<a href="/">Home</a>

{% include 'footer.html.twig' %}
